<h1><%= @kid.name %> Profile Page</h1>

<!-- Kid's Profile -->
<p>Name: <%= @kid.name %></p>
<p>Age: <%= @kid.age %></p>
<p>Hobby: <%= @kid.hobby %></p>
<h4><%= @kid.adult? %></h4>

<!-- Caretaker Information -->
<h3>Caretakers: </h3>
<ul>
  <% @kid.care_takers.each do |c| %>
    <li><%= link_to c.name, c %></li>
  <% end %>
</ul>

<!-- Profile Actions -->

<%= link_to "Edit Profile", edit_kid_path(@kid) %><br>
<%= link_to "Index Page", kids_path %>
<%= form_tag kid_path(@kid), method: "delete" do %>
  <%= submit_tag "Delete Profile" %>
<% end %>

<!-- Parent's Info -->
