<h1>New Caretaker</h1>

<% if @care_taker.errors.any? %>
  <div class="error_explanation">
    <h2>
      <%= pluralize(@care_taker.errors.count, "error") %>
      prohibited this article from being saved:
    </h2>

    <ul>
<% @care_taker.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>
</ul>

</div>
<% end %>

<div class="form">
<%= form_for @care_taker do |f| %><br>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :age %>
<%= f.text_field :age %><br>
<%= f.label :job %>
<%= f.text_field :job %><br>
<%= f.fields_for :kids do |kid| %><br>
<h3>Kid cared for:</h3>
<%= kid.label :name %>
<%= kid.text_field :name %><br>
<%= kid.label :age %>
<%= kid.text_field :age %><br>
<%= kid.label :hobby %>
<%= kid.text_field :hobby %><br>
<%= kid.label :adult %>
<%= kid.select :adult, {"Yes" => true, "No" => false} %><br>
<% end %>
<%= f.submit %><br>
<% end %>
</div>
